<!DOCTYPE html>
<div align="center">
<h1 class="title">About Me</h1>
</div>

<div class="list">
  <a class="item item-icon-left" href="mailto:Cam@MakoJ.com">
    <i class="icon ion-email"></i>
    Email Me: Cam@MakoJ.com
  </a>

  <a class="item item-icon-left" href="http://cammakoj.tumblr.com/">
    <i class="icon ion-wifi"></i>
    Website: www.makoj.com
    </a>
  <a class="item item-icon-left" href="https://www.linkedin.com/in/cameron-johnston-55857933">
    <i class="icon ion-social-linkedin"></i>
    LinkedIn: Cameron Johnston
    </a>
    <a class="item item-icon-left" href="http://anpc.ab.ca/">
      <i class="icon ion-leaf"></i>
      Alberta Native Plant Council
      </a>
</div>
