<!DOCTYPE html>
<div align="center">
<h1 class="center">About Me</h1>
</div>

<div class="list">
  <a class="item item-icon-left" href="mailto:Cam@MakoJ.com">
    <i class="icon ion-email"></i>
    Email Me: Cam@MakoJ.com
  </a>

  <a class="item item-icon-left" href="www.makoj.com">
    <i class="icon ion-wifi"></i>
    Website: www.makoj.com
    </a>
<!-- Removed for now... Can add it back later if i need a job
  <a class="item item-icon-left" href="https://www.linkedin.com/in/cameron-johnston-55857933">
    <i class="icon ion-social-linkedin"></i>
    LinkedIn: Cameron Johnston
    </a>
  -->
</div>

<div class="padding">
<p>This is a project I started working on both to learn app development and to make something useful for botanical field work in Alberta. Please let me know if you have any questions, concerns, or ideas for updates. I'm still learning and am hoping to add photos, though that would take a very large dataset and a lot of time to sort.</p>
  <p>
   All data within is based on the ACIMS list pulled as of November 28, 2016.
</p>
</div>
