<!DOCTYPE html>
<div align="center">
<h1 class="title">About Me</h1>
</div>

<div class="list">
  <a  class="item item-icon-left" ng-click="sendMail()" href="#">
    <i class="icon ion-email"></i>
    Email Me: Cam@MakoJ.com
  </a>

  <a class="item item-icon-left" href="#" onclick="window.open('http://cammakoj.tumblr.com/', '_system', 'location=yes'); return false;">
    <i class="icon ion-wifi"></i>
    Website: www.makoj.com
    </a>
  <a class="item item-icon-left" href="#" onclick="window.open('https://www.linkedin.com/in/cameron-johnston-55857933', '_system', 'location=yes'); return false;">
    <i class="icon ion-social-linkedin"></i>
    LinkedIn: Cameron Johnston
    </a>
    <a class="item item-icon-left" href="#" onclick="window.open('http://anpc.ab.ca/', '_system', 'location=yes'); return false;">
      <i class="icon ion-leaf"></i>
      Alberta Native Plant Council
      </a>
</div>
