<!DOCTYPE html>
<div class="padding">
  <h1>ACIMS Vascular Species List</h1>
</div>
<div class="padding">
  <p>
    All data within is based on the ACIMS list pulled as of November 12, 2017.
  </p>
  <p>
    Disclaimer:
  </p>
  <p>
    Data is accurate to the best of my knowledge. I assume no responsibility for your usage of this app. Always QA/QC and review your results from the ACIMS source.
  </p>
</div>

<div class="card" href="#" onclick="window.open('https://www.lauragracephotography.ca/', '_system', 'location=yes'); return false;">
  <div class="item item-avatar">
    <img src="/img/lg_photo.jpg">
    <h2>Laura Grace Photography</h2>
    <p>Book a session today!</p>
  </div>
</div>
<div class="padding">
<p>This is a project I started working on both to learn app development and to make something useful for botanical field work in Alberta. To get started press the menu in the top left corner and select 'Search' to be able to filter through the entire ACIMS
  species list. The search works by filtering any matches to the text entered, this queries Common, Scientific, and 7 letter code names.
</p>
<p>I got rid of the google ads but put my wife's photo business instead, she is awesome check out her work!</p>
</div>
