<!DOCTYPE html>
<div class="padding">
  <h1>Thanks for checking out my app!</h1>
</div>
<div class="padding">
  <p>This is a project I started working on both to learn app development and to make something useful for botanical field work in Alberta. To get started press the menu in the top left corner and select 'Search' to be able to filter through the entire
    ACIMS species list.
  </p>

  <p>Please let me know if you have any questions, concerns, or ideas for updates. I'm still learning and am hoping to add photos at some point. The about page has contact info for me and I would love any suggestions to improve it, or if you find any
    issues.</p>
  <p>
    All data within is based on the ACIMS list pulled as of November 28, 2016.
  </p>
  <p>
    Disclaimer:
</p>
<p>

</p>
    Data is accurate to the best of my knowledge. I assume no responsibility for your usage of this app. Always QA/QC and review your results from the ACIMS source.
  </p>
</div>
