<!DOCTYPE html>
<div align="center">
  <h1 class="title">ACIMS Rankings</h1>
</div>

<div class="card">
  <div class="item item-divider">
    <a class="italics">SX</a>
  </div>
  <div class="item item-text-wrap">
    <p>
      Taxon is believed to be extirpated from the province. Not located despite intensive searches of historical sites and other appropriate habitat. Virtually no likelihood that it will be rediscovered.</p>
  </div>
</div>

<div class="card">
  <div class="item item-divider">
    <a class="italics">SH</a>
  </div>
  <div class="item item-text-wrap">
    <p>
      Known from only historical records but still some hope of rediscovery. Evidence that the taxon may no longer be present but not enough to state this with certainty.</p>
  </div>
</div>

<div class="card">
  <div class="item item-divider">
    <a class="italics">S1</a>
  </div>
  <div class="item item-text-wrap">
    <p>
      Known from five or fewer occurrences or especially vulnerable to extirpation because of other factor(s).</p>
  </div>
</div>

<div class="card">
  <div class="item item-divider">
    <a class="italics">S2</a>
  </div>
  <div class="item item-text-wrap">
    <p>
      Known from twenty or fewer occurrences or vulnerable to extirpation because of other factors.</p>
  </div>
</div>

<div class="card">
  <div class="item item-divider">
    <a class="italics">S3</a>
  </div>
  <div class="item item-text-wrap">
    <p>
      Known from 100 or fewer occurrences, or somewhat vulnerable due to other factors, such as restricted range, relatively small population sizes, or other factors.</p>
  </div>
</div>

<div class="card">
  <div class="item item-divider">
    <a class="italics">S4</a>
  </div>
  <div class="item item-text-wrap">
    <p>
      Apparently secure. Taxon is uncommon but not rare. Potentially some cause for long term concern due to declines or other factors.</p>
  </div>
</div>

<div class="card">
  <div class="item item-divider">
    <a class="italics">S5</a>
  </div>
  <div class="item item-text-wrap">
    <p>

      Secure - taxon is common, widespread, and abundant.</p>
  </div>
</div>

<div class="card">
  <div class="item item-divider">
    <a class="italics">S#S#</a>
  </div>
  <div class="item item-text-wrap">
    <p>
      A numeric range rank is used to indicate any range of uncertainty about the status of the taxon. Example - S2S3 or S1S3. Ranges cannot skip more than two ranks. Example - SU is used rather than S1S4.</p>
  </div>
</div>

<div class="card">
  <div class="item item-divider">
    <a class="italics">SU</a>
  </div>
  <div class="item item-text-wrap">
    <p>
      Taxon is currently unrankable due to lack of information or substantially conflicting information. Example - native versus non-native status not resolved.</p>
  </div>
</div>

<div class="card">
  <div class="item item-divider">
    <a class="italics">SNR</a>
  </div>
  <div class="item item-text-wrap">
    <p>
      Not ranked Conservation status not yet assessed.</p>
  </div>
</div>

<div class="card">
  <div class="item item-divider">
    <a class="italics">SNA</a>
  </div>
  <div class="item item-text-wrap">
    <p>
      Not applicable. A conservation status rank is not applicable because the species or ecosystem is not a suitable target for conservation activities. Example - introduced species.</p>
  </div>
</div>

<div class="card">
  <div class="item item-divider">
    <a class="italics">S#?</a>
  </div>
  <div class="item item-text-wrap">
    <p>
      Inexact numeric rank. Applied when a specific rank is most likely appropriate but for which some conflicting information or unresolved questions remain. Example - S2? believed to be 6 - 20 occurrences but some uncertainty.</p>
  </div>
</div>
