<!DOCTYPE html>

<div class="card centre">
  <div class="item item-divider">
    <div style="width:100%;">
      <h1 class="italics" align="center">{{data.content.ScientificName_Acims}}</h1>
    </div>
  </div>

  <div class="item item-text-wrap">
    <h2>Common Name:
      {{data.content.CommonName_Acims}}</h2>
    <h2>S-Rank:
      {{data.content.S_RANK}}</h2>
    <h2>Listed:
      {{data.content.Tracked_Watched}}</h2>
    <h2>Origin:
      {{data.content.Origin_Acims}}</h2>
    <h2>Synonym:
      {{data.content.Synonym}}</h2>
    <h2>7 Letter Code:<a class="uppercase">
        {{data.content.shortCode}} </a></h2>
  </div>
  <div class="padding">
    <button class="padding button button-block ion-android-arrow-back button-calm" ui-sref="search"></button>
  </div>
</div>
