/* Empty. Add your own CSS if you like */

.italics {
  font-style: italic;
  font-size: 20px;
}

.card {
  width: auto;

}
.centre {
    position:absolute;
    left: 0;
    right: 0;
}

md-content {
  margin: 16px;
}
#vertical-container {
    min-height: 300px;
    width: 100%;
}

.repeated-item {
    border-bottom: 1px dotted #757575;
    box-sizing: border-box;
    height: 50px;
    overflow: hidden;
    margin-right: 16px;
}

.uppercase {
  text-transform: uppercase;
}
